---
import Container from "../../components/container.astro";
import Icon from "../../components/Icon.astro";
import InformationProducts from "../../components/ui/informationProducts.astro";
import Layout from "../../layouts/Layout.astro";
import SliderReact from "../../hooks/SliderReact";
import Days from "@/components/products-components/days.astro";
import Wheel from "@/components/ui/icons/wheel.astro";
import Route from "@/components/ui/icons/route.astro";
import CalendarPic from "@/components/products-components/calendarPic.astro";
import Highlight from "@/components/products-components/highlight.astro";
import AvalibleDate from "@/components/products-components/avalibleDate.astro";
import Link from "@/components/ui/link.astro";

// Duplica y cambia las rutas para añadir o modificar las fotos

const IMG = [
  {
    src: "/e-bike.jpg",
  },
  {
    src: "/e-bike.jpg",
  },
  {
    src: "/mtb.jpg",
  },
  {
    src: "/road-bike.jpg",
  },
  {
    src: "/e-bike.jpg",
  },
];
const DAYS = [
  {
    day: "1",
    totalDistance: "14562 KM",
    totalAscent: "456 KM",
    totalDescent: "124 KM",
  },
  {
    day: "2",
    totalDistance: "14562 KM",
    totalAscent: "456 KM",
    totalDescent: "124 KM",
  },
  {
    day: "3",
    totalDistance: "14562 KM",
    totalAscent: "456 KM",
    totalDescent: "124 KM",
  },
  {
    day: "3",
    totalDistance: "14562 KM",
    totalAscent: "456 KM",
    totalDescent: "124 KM",
  },
];
---

<Layout title="Road Bike Products">
  <Container>
    <main class="mt-16">
      <!-- Foto, nombre y destino -->

      <div
        class="bg-center bg-no-repeat bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/conference.jpg')] h-[22rem] rounded-2xl">
        <div class="flex flex-col justify-end h-full p-6 w-auto">
          <div class="flex gap-2">
            <Icon icon="destiny-logo" size="1.6rem" color="white" />
            <p
              class="text-xl font-normal text-white lg:text-2xl flex flex-col justify-end h-full">
              Islas canarias
            </p>
          </div>

          <h1
            class="text-3xl font-extrabold tracking-tight leading-none text-white md:text-4xl lg:text-5xl">
            Road Bike to Canarias
          </h1>
        </div>
      </div>

      <!-- Informacion general de los viajes -->

      <div
        class="grid grid-cols-2 md:grid-cols-6 h-auto mt-3 gap-3 place-content-start md:px-6">
        <InformationProducts title="Price" subtitle="1400">
          <div slot="icon">
            <Icon icon="price-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Pre-booking" subtitle="250">
          <div slot="icon">
            <Icon icon="price-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Minimum of persons" subtitle="6">
          <div slot="icon">
            <Icon icon="group-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Duration" subtitle="8 Days">
          <div slot="icon">
            <Icon icon="timer-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Tour type" subtitle="Self - Guided">
          <div slot="icon">
            <Icon icon="guide-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
        <InformationProducts title="Season" subtitle="Autumn">
          <div slot="icon">
            <Icon icon="autumn-logo" size="1.6rem" color="#0E46A3" />
          </div>
        </InformationProducts>
      </div>

      <!-- Informacion tecnica -->

      <div class="">
        <div
          class="grid grid-cols-2 justify-between md:grid-cols-6 h-auto mt-3 gap-3 md:px-6">
          <InformationProducts title="Total distance" subtitle="1382 km">
            <div slot="icon">
              <Icon icon="distance-logo" size="1.6rem" color="#0E46A3" />
            </div>
          </InformationProducts>

          <InformationProducts title="Total ascent" subtitle="1000 km">
            <div slot="icon">
              <Icon icon="up-logo" size="1.6rem" color="#0E46A3" />
            </div>
          </InformationProducts>
          <InformationProducts title="Total descent" subtitle="382 km">
            <div slot="icon">
              <Icon icon="down-logo" size="1.6rem" color="#0E46A3" />
            </div>
          </InformationProducts>
          <InformationProducts title="Route type" subtitle="Point to point">
            <div slot="icon">
              <Route />
            </div>
          </InformationProducts>
          <InformationProducts title="Difficulty">
            <div slot="icon">
              <Wheel />
            </div>
            <div slot="icon">
              <Wheel />
            </div>
            <div slot="icon">
              <Wheel />
            </div>
          </InformationProducts>
          <InformationProducts title="E-Bike" subtitle="Yes">
            <div slot="icon">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="45"
                height="30"
                fill="#0E46A3"
                viewBox="80 90 330 330"
                ><path
                  d="M83.172,319.817Q85.646,320,88.1,320A64,64,0,0,0,136.544,214.29a64.376,64.376,0,0,0-11.981-10.841l9.59-17.982,46.293,46.293A31.986,31.986,0,1,0,235.7,264h20.823a64.023,64.023,0,1,0,42.47-68.439l-10.025-19.605L300.944,152H316a20,20,0,0,0,0-40H276a20,20,0,0,0,0,40h7.053l-8,16H143.469l16.49-30.918L160,137l4.8-9H200a8,8,0,0,0,0-16H166.624A24.039,24.039,0,0,0,144,96H120a8,8,0,0,0-8,8v32a8,8,0,0,0,8,8h18.136l-27.748,52.028a64.045,64.045,0,0,0-86.2,55.141h0A64.072,64.072,0,0,0,83.172,319.817ZM312,256a8,8,0,1,1,8,8A8.009,8.009,0,0,1,312,256Zm-20-38.953L303.183,238.9a24.037,24.037,0,0,0-5.8,9.1h-24.7A48.052,48.052,0,0,1,292.007,217.047Zm-14.122-27.618,6.775,13.25A64.062,64.062,0,0,0,256.521,248H240a31.8,31.8,0,0,0-4.446-16.244ZM260.686,184l-36.443,36.443a31.9,31.9,0,0,0-32.483,0L155.314,184ZM96,256a8,8,0,1,1-8-8A8.009,8.009,0,0,1,96,256Z"
                ></path><path
                  d="M380,168H344v16h36a92,92,0,0,1,0,184H327.324a47.991,47.991,0,0,0-94.642,0H190.99A32.057,32.057,0,0,0,160,344H120a8,8,0,0,0-8,8H96a8,8,0,1,0,0,16h16v16H96a8,8,0,1,0,0,16h16a8,8,0,0,0,8,8h40a32.057,32.057,0,0,0,30.987-24h41.692a47.991,47.991,0,0,0,94.642,0H380a108,108,0,0,0,0-216ZM294.659,380.438l-16,24-13.312-8.876L273.055,384H272a8,8,0,0,1-6.653-12.438l16-24,13.312,8.876L286.951,368H288a8,8,0,0,1,6.656,12.438Z"
                ></path></svg
              >
            </div>
          </InformationProducts>
        </div>
      </div>

      <!--  Include, exclude, complementaries  -->

      <div
        class="grid md:grid-cols-2 lg:grid-cols-3 mt-3 md:mt-5 md:px-8 gap-4">
        <!-- Include -->
        <div class="mt-5 md:text-center">
          <h3
            class="font-bold text-xl w-[200px] inline
            bg-[#0E46A3] text-white p-2 rounded-xl">
            Price include
          </h3>
          <div class="flex flex-col gap-2 mt-4 md:place-items-center">
            <p class="max-w-[320px]">
              Use of trekking poles and Microspike Crampons if necessary
            </p>

            <p class="max-w-[320px]">
              Entrance fees and national pa rk permits
            </p>

            <p class="max-w-[320px]">
              Emergency equipment including a company-issued first-aid kit and
              satellite phone
            </p>

            <p class="max-w-[320px]">
              Roundtrip transportation from your hotel in Flagstaff, Arizona to
              the Grand Canyon and back
            </p>
          </div>
        </div>

        <!-- Exclude -->

        <div class="mt-5 md:text-center">
          <h3
            class="font-bold text-xl w-[200px] inline
            bg-[#0E46A3] text-white py-2 px-3 rounded-xl">
            Price exclude
          </h3>
          <div class="flex flex-col gap-2 mt-4 md:place-items-center">
            <p class="max-w-[320px]">
              Use of trekking poles and Microspike Crampons if necessary
            </p>

            <p class="max-w-[320px]">Entrance fees and national park permits</p>

            <p class="max-w-[320px]">
              Emergency equipment including a company-issued first-aid kit and
              satellite phone
            </p>

            <p class="max-w-[320px]">
              Roundtrip transportation from your hotel in Flagstaff, Arizona to
              the Grand Canyon and back
            </p>
          </div>
        </div>
        <!-- Complementaries -->
        <div class="mt-5 md:text-center">
          <h3
            class="font-bold text-xl inline
            bg-[#0E46A3] text-white p-2 rounded-xl">
            Complementaries
          </h3>
          <div class="flex flex-col gap-2 mt-4 md:place-items-center">
            <p class="max-w-[320px]">Umbrella</p>

            <p class="max-w-[320px]">T-shirt</p>

            <p class="max-w-[320px]">Deuter or Osprey backpacks</p>

            <p class="max-w-[320px]">Microspike crampons when necessary</p>
          </div>
        </div>
      </div>
      <section class="md:px-8 md:py-14">
        <CalendarPic title="Avalible for:">
          <img
            class="rounded-xl object-cover"
            slot="picture"
            src="/calendar.png"
            alt="calendar vector art style"
          />

          <AvalibleDate slot="date" from="29/10/2024" to="5/11/2024" />
          <AvalibleDate slot="date" from="29/10/2024" to="5/11/2024" />
          <AvalibleDate slot="date" from="29/10/2024" to="5/11/2024" />
        </CalendarPic>
      </section>
    </main>

    <!--  Highlight  -->

    <Highlight title="Highlight">
      <img
        class="rounded-xl object-cover size-[450px] -mt-20"
        slot="picture"
        src="/vector-bike.png"
        alt="calendar vector art style"
      />
      <p slot="description" class="text-start">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
        eius ex rem, beatae nam quidem ipsam, hic rerum aspernatur cupiditate
        repudiandae, amet quam nostrum at obcaecati illo autem fugit. Error!
      </p>
    </Highlight>
    <!-- Button to download PDF -->
    <div
      class="grid bg-[#0E46A3] place-items-center md:mt-12 border-spacing-3 backdrop-blur-sm w-fit m-auto md:px-28 p-6 mt-12 rounded-xl shadow-[0px_0px_23px_14px_#00000024]">
      <h2 class="text-2xl md:text-3xl font-bold text-center text-gray-200">
        More information about our tour
      </h2>
      <Link
        style="muted"
        href="/anxo.png"
        download="Anxo"
        class="flex gap-1 items-center justify-center mt-8"
        rel="noopener">
        Descargar PDF
      </Link>
    </div>

    <!-- Slider Photos -->
    <section class="m-auto md:w-full rounded-xl md:px-8">
      <ol class="relative mt-16">
        {(<SliderReact IMG={IMG} client:visible />)}
      </ol>
    </section>

    <!--  TimeLine per days  -->
    <h2 class="text-4xl md:text-5xl xl:text-6xl md:p-8 mt-16 font-bold mb-4">
      Every day a <br /> New adventure
    </h2>
    {
      DAYS.map((tour) => (
        <ol class="mb-10">
          <Days {...tour} />
        </ol>
      ))
    }
  </Container>
</Layout>

<!-- Buttom -->
