.swiper-button-prev{
    --swiper-navigation-size: 25px;
    color: aliceblue;
}
.swiper-button-next{
    --swiper-navigation-size: 25px;
    color: aliceblue;
}
.swiper-pagination-bullet {
    --swiper-pagination-color: white
}

