---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
import Card from "../components/card.astro";

const ROADBIKEPRODUCTS = [
  {
    name: "From Mountains to Coastline",
    description: "",
    href: "/leisure-cycling/from-mountains-to-coastline/",
    href_img:
      "/cycle-tour/leisure-cycling/from-montains-to-coastline/from-montains-to-coastline.webp/",
    alt_img: "string",
  },
  {
    name: "E-bike Sightseeing Tour Granada",
    description: "",
    href: "/leisure-cycling/e-bike-sightseen-granada/",
    href_img:
      "/cycle-tour/leisure-cycling/e-bike-sightseen-granada/sightseen-product.webp",
    alt_img: "string",
  },
  {
    name: "Cycle Journey Andalusia",
    description: "Part 1 Ronda – Córdoba. E - Bike tour",
    href: "/leisure-cycling/cycle-journey-andalusia/",
    href_img:
      "/cycle-tour/leisure-cycling/cycle-journey-andalusia/jrc-product.webp",
    alt_img: "img2",
  },
  {
    name: "Epic Landscape E-bike Tour Granada",
    description: "",
    href: "/leisure-cycling/epic-landscape-e-bike-tour-granada/",
    href_img:
      "/cycle-tour/leisure-cycling/epic-landscape-e-bike-tour-granada/els-product.webp",
    alt_img: "img2",
  },
];
---

<Layout title="Tour Bike Products">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Leisure Cycling</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <main class="mt-32">
      <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
        {
          ROADBIKEPRODUCTS.map((tour) => (
            <li class="mb-10">
              <Card {...tour} />
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
