---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
import Card from "../components/card.astro";

const TOURBIKEPRODUCTS = [
  {
    name: "Road Bike Escape Granada",
    description: "Coming soon",
    href: "#",
    href_img: "/cycle-tour/roadbike/roadbike-escape-granada/rbeg-product.webp",
    alt_img: "string",
  },
  {
    name: "Road bike Tour Granada",
    description: "Coming soon",
    href: "#",
    href_img: "/cycle-tour/roadbike/roadbike-tour-granada/rbtg-product.webp",
    alt_img: "string",
  },
];
---

<Layout title="E-Bike Products">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Road-Bike</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>
    <main class="mt-24">
      <ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 w-full">
        {
          TOURBIKEPRODUCTS.map((tour) => (
            <li class="mb-10 ">
              <Card {...tour} />
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
