---
import Container from "../../components/container.astro";
import Link from "../../components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Home",
    path: "/",
  },
  {
    title: "Experience",
    path: "#",
    children: [
      {
        title: "Cycle Tours",
        path: "/cycling/",
      },
      {
        title: "Hiking & Trekking",
        path: "/trekking-hikking/",
      },
      { title: "Cultural Travel Tours", path: "#" },
      { title: "Multi-Adventures Tours (coming soon..)", path: "#" },
    ],
  },
  {
    title: "Blog",
    path: "/blog/",
  },
  {
    title: "Gallery",
    path: "/gallery/",
  },
  {
    title: "About",
    path: "/about/",
  },
  {
    title: "Contact Us",
    path: "/contact/",
  },
];
---

<Container>
  <header
    class="top-0 flex z-50 flex-col lg:flex-row justify-between items-center my-5 rounded-md">
    <Astronav>
      <div class="relative flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="text-lg">
          <img
            src="/logo.png"
            class="size-20"
            alt="logo montaraz outdoors & culture"
          />
        </a>
        <div class="block lg:hidden">
          <MenuIcon class="w-4 h-4 text-gray-800" />
        </div>
      </div>
      <MenuItems
        class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 sticky top-0 z-20">
        <ul class="flex flex-col lg:flex-row lg:gap-3 font-semibold">
          {
            menuitems.map((item, index) => (
              <li>
                {item.children ? (
                  <Dropdown
                    title={item.title}
                    children={item.children}
                    lastItem={index === menuitems.length - 1}
                  />
                ) : (
                  <a
                    href={item.path}
                    class=" flex lg:px-3 py-2 items-center text-gray-800 hover:text-[#0E46A3]">
                    <span>{item.title}</span>
                  </a>
                )}
              </li>
            ))
          }
        </ul>
        <div class="lg:hidden flex items-center mt-3 gap-4">
          <Link href="/tailor-made-travel/" size="md" block
            >Tailor-Made Travel</Link
          >
        </div>
      </MenuItems>
    </Astronav>
    <div>
      <div class="hidden lg:flex items-center gap-4">
        <Link class="font-semibold" href="/tailor-made-travel/" size="md">
          Tailor-Made Travel
        </Link>
      </div>
    </div>
  </header>
</Container>
