---
import Icon from "../components/Icon.astro";
---

<div class="relative overflow-hidden pt-8 pb-8 space-y-24">
  <div class="relative">
    <div
      class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
        <div>
          <div>
            <span
              class="flex h-12 w-12 items-center justify-center rounded-xl bg-slate-200">
              <Icon icon="bicycle-logo" size="2.5rem" color="#0E46A3" />
            </span>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight mb-2">
              Mountain Bike
            </h2>
            <p
              class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl">
              Experience MTB trails for all levels through ever-changing
              landscapes
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-mr-48 pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img
            loading="lazy"
            width="647"
            height="300"
            class="w-full rounded-xl shadow-2xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-[540px] lg:max-w-none hover:scale-105 duration-200 object-cover"
            style="color:transparent"
            src="/home/mtb.webp"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="relative">
    <div
      class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div
        class="mx-auto max-w-xl lg:mx-0 lg:max-w-none lg:py-16 lg:px-0 lg:col-start-2">
        <div>
          <div>
            <span
              class="flex h-12 w-12 items-center justify-center rounded-xl bg-slate-200">
              <Icon icon="cultural-logo" size="2.5rem" color="#0E46A3" />
            </span>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight mb-2">
              Cultural Travel Tours
            </h2>
            <p
              class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl">
              Immerse yourself in a country's culture for the ultimate local
              experience
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-ml-48 pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img
            alt="Inbox user interface"
            loading="lazy"
            width="800"
            height="486"
            class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-[540px] lg:max-w-none hover:scale-105 duration-200"
            style="color:transparent"
            src="/home/cultural-travel.webp"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="relative">
    <div
      class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
        <div>
          <div>
            <span
              class="flex h-12 w-12 items-center justify-center rounded-xl bg-slate-200">
              <Icon icon="hike-logo" size="2.5rem" color="#0E46A3" />
            </span>
          </div>

          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight mb-2">
              Hiking & Trekking
            </h2>
            <p
              class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl">
              Explore on foot the natural beauty, an authentic way to travel
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-mr-48 pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img
            loading="lazy"
            width="647"
            height="300"
            class="w-full rounded-xl shadow-2xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-[540px] lg:max-w-none hover:scale-105 duration-200"
            style="color:transparent"
            src="/home/hiking.webp"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="relative">
    <div
      class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div
        class="mx-auto max-w-xl lg:mx-0 lg:max-w-none lg:py-16 lg:px-0 lg:col-start-2">
        <div>
          <div>
            <span
              class="flex h-12 w-12 items-center justify-center rounded-xl bg-slate-200">
              <Icon icon="bicycle-logo" size="2.5rem" color="#0E46A3" />
            </span>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight mb-2">Road Bike</h2>
            <p
              class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl">
              Ready to try our selection of cycle routes in the perfect cycle
              destination with popular mountain passes and iconic climbs?
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-ml-48 pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img
            alt="road bike photo"
            loading="lazy"
            width="800"
            height="486"
            class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-[540px] lg:max-w-none hover:scale-105 duration-200"
            style="color:transparent"
            src="/home/road-bike.webp"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="relative">
    <div
      class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
        <div>
          <div>
            <span
              class="flex h-12 w-12 items-center justify-center rounded-xl bg-slate-200">
              <Icon icon="hike-logo" size="2.5rem" color="#0E46A3" />
            </span>
          </div>

          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight mb-2">E - Bike</h2>
            <p
              class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl">
              Join our tours on an E-bike allowing you to enjoy longer distances
              and more scenic routes
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-mr-48 pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img
            alt="E-bike photo"
            loading="lazy"
            width="647"
            height="300"
            class="w-full rounded-xl shadow-2xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-[540px] lg:max-w-none hover:scale-105 duration-200"
            style="color:transparent"
            src="/home/ebike.webp"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="relative">
    <div
      class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div
        class="mx-auto max-w-xl lg:mx-0 lg:max-w-none lg:py-16 lg:px-0 lg:col-start-2">
        <div>
          <div>
            <span
              class="flex h-12 w-12 items-center justify-center rounded-xl bg-slate-200">
              <Icon icon="bicycle-logo" size="2.5rem" color="#0E46A3" />
            </span>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight mb-2">
              Multi- Adventure Activities
            </h2>
            <p
              class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl">
              Looking for adrenaline and adventures?
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-ml-48 pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img
            alt="multi adventure photo"
            loading="lazy"
            width="800"
            height="486"
            class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-[540px] lg:max-w-none hover:scale-105 duration-200"
            style="color:transparent"
            src="/home/adventure.webp"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="relative">
    <div
      class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
        <div>
          <div>
            <span
              class="flex h-12 w-12 items-center justify-center rounded-xl bg-slate-200">
              <Icon icon="bicycle-logo" size="2.5rem" color="#0E46A3" />
            </span>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight mb-2">
              Family Travel
            </h2>
            <p
              class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl">
              Embark on a fun, family adventure full with exciting excursions
            </p>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-ml-48 pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img
            alt="family photo"
            loading="lazy"
            width="800"
            height="486"
            class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-[540px] lg:max-w-none hover:scale-105 duration-200"
            style="color:transparent"
            src="/home/family.webp"
          />
        </div>
      </div>
    </div>
  </div>
</div>
