---

---

<h2 class="md:text-5xl text-3xl md:p-8 p-4 font-bold">
  Every day a <br /> New adventure
</h2>

<div class="grid md:grid-cols-5 md:p-8 p-4 md:gap-10 gap-3">
  <div class="col-span-2">
    <h2 class="md:text-4xl text-2xl font-bold">Day 1</h2>
  </div>
  <div class="md:col-span-3">
    <p class="text-pretty text-neutral-600">
      Lorem aksdhga lkjshdf lkjsehra cwelkjghec aksdjhaksjh qweeqwh 12 12341243
      Lorem aksdhga lkjshdf lkjsehra cwelkjghec aksdjhaksjh qweeqwh 12 12341243
      Lorem aksdhga lkjshdf lkjsehra cwelkjghec aksdjhaksjh qweeqwh 12 12341243
      Lorem aksdhga lkjshdf lkjsehra cwelkjghec aksdjhaksjh qweeqwh 12 12341243
      Lorem aksdhga lkjshdf lkjsehra cwelkjghec aksdjhaksjh qweeqwh 12 12341243
      Lorem aksdhga lkjshdf lkjsehra cwelkjghec aksdjhaksjh qweeqwh 12 12341243
      Lorem aksdhga lkjshdf lkjsehra cwelkjghec aksdjhaksjh qweeqwh 12 12341243
    </p>
  </div>
</div>
<div class="grid md:grid-cols-5 md:p-8 p-4 md:gap-10 gap-3">
  <div class="col-span-2">
    <h2 class="md:text-4xl text-2xl font-bold">Day 1</h2>
  </div>
  <div class="md:col-span-3">
    <p class="text-pretty text-neutral-600">
      Lorem aksdhga lkjshdf lkjsehra cwelkjghec aksdjhaksjh qweeqwh 12 12341243
    </p>
  </div>
</div>
<div class="grid md:grid-cols-5 md:p-8 p-4 md:gap-10 gap-3">
  <div class="col-span-2">
    <h2 class="md:text-4xl text-2xl font-bold">Day 1</h2>
  </div>
  <div class="md:col-span-3">
    <p class="text-pretty text-neutral-600">
      Lorem aksdhga lkjshdf lkjsehra cwelkjghec aksdjhaksjh qweeqwh 12 12341243
    </p>
  </div>
</div>
