---
import Icon from "./Icon.astro";
import Container from "../components/container.astro";
---

<footer class="py-16">
  <Container>
    <div class="flex flex-col md:flex-row justify-between">
      <div class="grid gap-2">
        <div class="flex flex-row place-items-center gap-2">
          <img
            src="/logo.png"
            class="size-12 md:size-16"
            alt="logo montaraz outdoor & culture"
          />
          <p class="text-center text-2xl font-semibold text-gray-700">
            Montaraz Experience
          </p>
        </div>

        <div class="grid mx-2">
          <a
            href="https://www.instagram.com/"
            target="_blank"
            class="flex place-items-center gap-2 hover:opacity-50"
            ><Icon icon="instagram-logo" size="1.5rem" color="#E56969" />
            Instagram account</a
          >
        </div>
        <div class="grid mx-2">
          <!-- <a
            href="https://wa.me/34665311314?text=hola mundo"
            target="_blank"
            class="flex place-items-center gap-2">
            <Icon icon="whatsap-logo" size="1.5rem" color="#616161" />
            (+34) 665 311 314
          </a> -->
          <p
            class="flex place-items-center gap-2 hover:opacity-50 cursor-pointer">
            <Icon icon="whatsap-logo" size="1.5rem" color="green" />
            (+34) 665 311 314
          </p>
        </div>
      </div>
      <div class="grid gap-2 px-2 mt-8 md:mt-0">
        <h2 class="text-lg font-semibold text-gray-700">Quick Links</h2>
        <a
          href="/public/terms-and-conditions.pdf"
          target="_blank"
          class="hover:opacity-50">Terms & Conditions</a
        >
        <a
          href="/public/privacy-policy.pdf"
          target="_blank"
          class="hover:opacity-50">Privacy Policy</a
        >
        <a href="/public/faq.pdf" target="_blank" class="hover:opacity-50"
          >FAQ</a
        >
      </div>
    </div>
  </Container>
</footer>
