---
import "photoswipe/style.css";
---

<div class="mt-16">
  <div
    class="pswp-gallery grid grid-cols-2 md:grid-cols-4 gap-16 object-fill"
    id="gallery">
    <a
      class="object-cover"
      href="/gallery/img-1.jpg"
      data-cropped="true"
      data-pswp-width="1349"
      data-pswp-height="607"
      target="_blank">
      <img
        class="h-44 w-52 md:size-64 object-cover rounded-xl hover:scale-105 duration-200 transition-all"
        src="/gallery/img-1.webp"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-2.jpg"
      data-cropped="true"
      data-pswp-width="1024"
      data-pswp-height="768"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200"
        src="/gallery/img-2.jpg"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-3.jpg"
      data-cropped="true"
      data-pswp-width="4000"
      data-pswp-height="3000"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-3.webp"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-4.jpg"
      data-cropped="true"
      data-pswp-width="6067"
      data-pswp-height="3467"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-4.webp"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-5.jpg"
      data-cropped="true"
      data-pswp-width="4763"
      data-pswp-height="3175"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-5.webp"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-6.jpg"
      data-cropped="true"
      data-pswp-width="1024"
      data-pswp-height="768"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-6.jpg"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-7.jpg"
      data-cropped="true"
      data-pswp-width="1600"
      data-pswp-height="1200"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-7.jpg"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-8.jpg"
      data-cropped="true"
      data-pswp-width="1500"
      data-pswp-height="2000"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-8.jpg"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-9.jpg"
      data-cropped="true"
      data-pswp-width="1600"
      data-pswp-height="1200"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-9.jpg"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-10.jpg"
      data-cropped="true"
      data-pswp-width="1024"
      data-pswp-height="916"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-10.jpg"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-11.jpg"
      data-cropped="true"
      data-pswp-width="1024"
      data-pswp-height="768"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-11.jpg"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-12.jpg"
      data-cropped="true"
      data-pswp-width="1024"
      data-pswp-height="768"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-12.jpg"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-13.jpg"
      data-cropped="true"
      data-pswp-width="768"
      data-pswp-height="1024"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-13.jpg"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-14.jpg"
      data-cropped="true"
      data-pswp-width="1807"
      data-pswp-height="1204"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-14.jpg"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-15.jpg"
      data-cropped="true"
      data-pswp-width="2000"
      data-pswp-height="1332"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-15.jpg"
        alt=""
      />
    </a>
    <a
      href="/gallery/img-16.jpg"
      data-cropped="true"
      data-pswp-width="1922"
      data-pswp-height="1280"
      target="_blank">
      <img
        class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
        src="/gallery/img-16.jpg"
        alt=""
      />
      <a
        href="/gallery/img-17.jpg"
        data-cropped="true"
        data-pswp-width="1349"
        data-pswp-height="607"
        target="_blank">
        <img
          class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
          src="/gallery/img-17.jpg"
          alt=""
        />
        <a
          href="/gallery/img-18.jpg"
          data-cropped="true"
          data-pswp-width="1349"
          data-pswp-height="607"
          target="_blank">
          <img
            class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
            src="/gallery/img-18.jpg"
            alt=""
          />
          <a
            href="/gallery/img-19.jpg"
            data-cropped="true"
            data-pswp-width="1349"
            data-pswp-height="607"
            target="_blank">
            <img
              class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
              src="/gallery/img-19.jpg"
              alt=""
            />
            <a
              href="/gallery/img-20.jpg"
              data-cropped="true"
              data-pswp-width="1349"
              data-pswp-height="607"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-20.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-21.jpg"
              data-cropped="true"
              data-pswp-width="1349"
              data-pswp-height="607"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-21.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-22.jpg"
              data-cropped="true"
              data-pswp-width="1349"
              data-pswp-height="607"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-22.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-23.jpg"
              data-cropped="true"
              data-pswp-width="1349"
              data-pswp-height="607"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-23.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-24.jpg"
              data-cropped="true"
              data-pswp-width="1349"
              data-pswp-height="607"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-24.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-25.jpg"
              data-cropped="true"
              data-pswp-width="1024"
              data-pswp-height="774"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-25.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-26.jpg"
              data-cropped="true"
              data-pswp-width="2000"
              data-pswp-height="1500"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-26.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-27.jpg"
              data-cropped="true"
              data-pswp-width="2048"
              data-pswp-height="921"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-27.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-28.jpg"
              data-cropped="true"
              data-pswp-width="3360"
              data-pswp-height="5040"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-28.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-29.jpg"
              data-cropped="true"
              data-pswp-width="2992"
              data-pswp-height="2992"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-29.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-30.jpg"
              data-cropped="true"
              data-pswp-width="2992"
              data-pswp-height="2992"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-30.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-31.jpg"
              data-cropped="true"
              data-pswp-width="809"
              data-pswp-height="607"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-31.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-32.jpg"
              data-cropped="true"
              data-pswp-width="4800"
              data-pswp-height="3200"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-32.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-33.jpg"
              data-cropped="true"
              data-pswp-width="5616"
              data-pswp-height="3744"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-33.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-34.jpg"
              data-cropped="true"
              data-pswp-width="2936"
              data-pswp-height="2546"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-20.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-35.jpg"
              data-cropped="true"
              data-pswp-width="1496"
              data-pswp-height="1496"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-35.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-36.jpg"
              data-cropped="true"
              data-pswp-width="2048"
              data-pswp-height="1536"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-36.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-37.jpg"
              data-cropped="true"
              data-pswp-width="2048"
              data-pswp-height="1536"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-37.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-38.jpg"
              data-cropped="true"
              data-pswp-width="2000"
              data-pswp-height="1496"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-38.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-39.jpg"
              data-cropped="true"
              data-pswp-width="1125"
              data-pswp-height="2000"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-39.jpg"
                alt=""
              />
            </a>
            <a
              href="/gallery/img-40.jpg"
              data-cropped="true"
              data-pswp-width="1600"
              data-pswp-height="1200"
              target="_blank">
              <img
                class="h-44 w-52 object-cover rounded-xl md:size-64 hover:scale-105 duration-200 transition-all"
                src="/gallery/img-40.jpg"
                alt=""
              />
            </a>
          </a>
        </a>

        <script>
          import PhotoSwipeLightbox from "photoswipe/lightbox";

          const lightbox = new PhotoSwipeLightbox({
            gallery: "#gallery",
            children: "a",
            pswpModule: () => import("photoswipe"),
          });
          lightbox.init();
        </script>
      </a></a
    >
  </div>
</div>
