---
interface Props {
  class?: string;
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="grid">
  <div class="md:p-8">
    <p class="text-black font-semibold md:text-lg text-sm tracking-wider">
      {title}
    </p>
    <div class="flex gap-2 mt-1">
      <slot name="icon" />
      <p class="text-black md:text-lg text-sm">{subtitle}</p>
    </div>
  </div>
</div>
